{% extends 'layout.html' %}
{% block content %}

<h2>All Degrees</h2>
<!-- Filtering system -->
<form class = 'filter' method = 'POST' action = '/degrees'>
<div>
    <h3>Filter by</h3>
    <!-- FILTER BY UNIVERSITY -->
    {% for form in forms %}
        <div class = "filter_item">{{ form }}</div>
    {% endfor %}
</div>
<br>

<!-- Buttons -->
<input type = 'submit'>
</form>

<div class = 'grid-container'>
    {% for degree in degrees %}
        <a href="{{ url_for('degree', id=degree.id )}}">
        <div class='grid-item'>
            <p>{{degree.name}}</p>
            <span class="overlay">
                {% for university in degree.universities %}
                    {{university.name}}<br>
                {% endfor %}
            </span>
        </div>
        </a>

    {% endfor %}
</div>


{% endblock %}