{% extends 'layout.html' %}
{% block content %}

<h2>All Degrees</h2>
<!-- Filtering system -->
<form class = 'filter' method = 'POST'>
<div>
    <h3>Filter by</h3>
    <!-- FILTER BY UNIVERSITY -->
    {% for university in universities %}
        <input type = 'checkbox' name = 'universities' value = '{{ university.name }}'> 
        <label>{{ university.name }}</label>
        <br>
    {% endfor %}
</div>
<br>

<div>
    <!-- FILTER BY SUBJECT-->
    {% for subject in subjects %}
        <input type = 'checkbox' name = 'subject' value = '{{ subject.name }}'> 
        <label>{{ subject.name }}</label>
        <br>
    {% endfor %}
</div>


<div>
<!-- ORDER BY -->
<h3>Order by</h3>
<input type = 'radio' name = 'order' value = 'ASC' {% if order == "ASC" %} checked {% endif %}> 
<label>A-Z</label>
<br>

<input type = 'radio' name = 'order' value = 'DESC' {% if order == "DESC" %} checked {% endif %}>
<label>Z-A</label>
</div>


<!-- Buttons -->
<input type = 'submit'>

<input type = 'submit' name='reset' value='Reset'>
</form>

<!-- Display Degrees -->
<div class = 'grid-container'>
{% for degree in degrees %}

<div class = 'grid-item'>
    <a href="{{ url_for('degree', id= degree.id) }}">{{ degree.name }}</a>
</div> <!-- closing grid-item-->

{% endfor %}
</div> <!-- closing grid-container-->

{% endblock %}