{% extends 'layout.html' %}
{% block content %}

<h2>All Degrees</h2>
<!-- Filtering system -->
<form class = 'filter' method = 'POST'>
<div>
    <h3>Filter by</h3>
    <!-- FILTER BY UNIVERSITY -->
        <input type = 'checkbox' name = 'universities' value = 'University of Auckland'> 
        <label>University of Auckland</label>
        <br>

        <input type = 'checkbox' name = 'universities' value = 'University of Canterbury'> 
        <label>University of Canterbury</label>
        <br>

        <input type = 'checkbox' name = 'universities' value = 'University of Otago'> 
        <label>University of Otago</label>
        <br>
</div>
<br>


<div>
<!-- ORDER BY -->
<h3>Order by</h3>
<input type = 'radio' name = 'order' value = 'ASC' {% if order == "ASC" %} checked {% endif %}> 
<label>A-Z</label>
<br>

<input type = 'radio' name = 'order' value = 'DESC' {% if order == "DESC" %} checked {% endif %}>
<label>Z-A</label>
</div>


<!-- Buttons -->
<input type = 'submit'>
<input type = 'submit' name='reset' value='Reset'>
</form>



<!-- Display Degrees -->
<div class = 'grid-container'>
{% for university in degrees %}
    {% for degree in university %}
        <div class = 'grid-item'>
            <a href="{{ url_for('degree', id= degree.id) }}">{{ degree.name }}</a>
        </div> <!-- closing grid-item-->
    {% endfor %}
{% endfor %}
</div> <!-- closing grid-container-->

{% endblock %}