{% extends 'layout.html' %}
{% block content %}
<div class="home">
    <h2>Universities</h2>
    <table class="table">
        <tr>
            {% for university in universities %}
            <td>
                <a href="{{ url_for('university', id = university.id) }}">{{ university.name }}</a>
            </td>
            {% endfor %}
        </tr>
    </table>

    <div class="degree-tips">
        <h2>Choosing a Degree</h2>

        <div class='home-container'>
            <div class="buttons">
                <div id="tip" data-tip="t1">Tip 1</button>
                </div>

                <div class="text">
                    <div id="t1">Tip1</div>
opacity -->

                </div>
            </div> <!-- Closing degree-tips -->

        </div> <!-- Closing Home -->

        <script>
            console.log("java")


            document.querySelectorAll('#tip')
                .forEach(element => element.addEventListener(
                    'click',
                    event => {
                        console.log(event.target.dataset.tip)
                        var text = document.getElementsByClassName("t1")
                        t1 = document.getElementById('t1')
                        switch (t1.style.opacity) {
                            case (0):
                                opacity = 1;
                                break;
                            case (1):
                            default:
                                opacity = 0;
                        }
                        t1.style.opacity = opacity;
                        console.log("t1")
                    })
                )
        </script>
        {% endblock %}